<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GET COFFEE FTW!</title>
  <link rel="stylesheet" type="text/css" href="new.css" />
</head>

<body>

  <div class="theBackground"></div>
  <div class="gridcontainer">
  <section class="intro">
    <div class="inner">
      <div class="content">
        <h1 class="big-title">Get Coffee!!</h1>
        <br>
        <div class="form">
          <form action="#">
            <fieldset>
              Where you at?<br>
              <input type="text" name="location" value="Enter your location here"><br>
              <br>What would you like?<br>
              <select name="Coffee">
                <option value="Coffee">Choose Wisely...</option>
                <option value="Coffee">Black</option>
                <option value="Coffee">White</option>
                <option value="Coffee">Cold AF</option>
                <option value="Coffee">Just Coffee, all the coffee!</option>
              </select><br>
              <br>Budget?<br>
              <select name="Budget">
                <option value="Budget">Choose Wisely...</option>
                <option value="Budget">Less than $5.00</option>
                <option value="Budget">No budget here, give me everything!</option>
              </select><br>
              <br>Bringing your own mug?<br>
              <input type="radio" name="mug" value="yes" checked> Yeah<br>
              <input type="radio" name="mug" value="no"> Nah<br>
              <br>
              <input type="submit" value="Find that coffee!">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
  <script src="bundle.js"></script>
</body>

</html>